.cart-container {
    background-color: rgb(248, 244, 245); 
    padding: 30px;
}

.cart-title {
    margin-top: 70px;
    color: gray;
    text-align: center;
}

.cart-item {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    height: 100px;
    border: 0.3px solid gray;
    margin: 25px auto 5px auto;
}

.product-image-cart {
    height: auto;
    width: 65px;
    margin: auto 10px auto 10px;
    border: 1px solid gray;
}

.cart-item-title {
    margin-top: 8px;
    font-weight: bold;
    width: 100%;
    font-size: 15px;
    height: 20px;
}

.cart-item-description {
    font-size: 11px;
    margin-top: 5px;
    height: 60%;
    width: 100%;
}

.cart-item-price {
    margin: auto 10px auto 30px;
    font-size: 13px;
    padding: 10px;
}

.cart-set-amount,
.cart-remove-item {
    width: 30px;
    height: 30px;
    font-size: 17px;
    margin: auto 25px auto 25px;
    border: 1px solid black;
    background-color: rgb(252, 198, 209);
    text-decoration: none;
    cursor: pointer;
}

.cart-set-amount:hover,
.cart-remove-item:hover {
    opacity: 0.8;
}

.cart-summary {
    display: flex;
}

.cart-item-amount {
    margin: auto 0px auto 0px;
    font-weight: bolder;
    font-size: 15px;
}

.cart-item-total {
    margin: auto;
    font-size: 15px;
    font-weight: bolder;
}

.cart-remove-item {
    margin-left: auto;
    margin-right: 20px;
}

.cart-container hr {
    border: 0.5px solid gray;
    margin-top: 10px;
}

.summary {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    font-size: 13px;
}

.total-products {
    font-size: 10px;
    font-weight: lighter;
}

.final-price {
    font-weight: bold;
}

.cart-option,
.no-items-return {
    margin: 15px;
    width: 150px;
    height: 30px;
    background-color: rgb(252, 198, 209);
    border: 1px solid black;
}

.cart-option:hover,
.no-items-return:hover {
    opacity: 0.8;
    cursor: pointer;
}

.cart-options {
    display: flex;
    justify-content: center;
}

.no-items-cart {
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
}

.no-items-return{
    display: flex;
    margin: 25px auto auto auto;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1200px) {
    .cart-item-title {
        width: 500px;
    }
}

@media screen and (max-width: 820px) {
    .cart-item {
        width: 200%;
    }
    .cart-item-price {
        margin: auto 1px auto 1px;
        font-size: 10px;
        width: 65px;
    }

    .cart-item-total {
        font-size: 12px;
    }

    .cart-title {
        display: none;
    }
}