.cart-title {
    margin-top: 5rem;
    color: gray;
    text-align: center;
}

.cart-item {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 99%;
    height: 5rem;
    border: 0.3px solid gray;
    margin: 25px auto 5px auto;
}

.product-image-cart {
    height: auto;
    width: 65px;
    margin: auto 10px auto 10px;
    border: 1px solid gray;
}

.cart-item-title {
    margin-top: 0.5em;
    font-weight: bold;
    width: 100%;
    font-size: 15px;
    height: 1rem;
}

.cart-item-description {
    font-size: 11px;
    margin-top: 5px;
    height: 60%;
    width: 100%;
}

.cart-item-price {
    margin: auto 10px auto 30px;
    font-size: 13px;
    padding: 10px;
    width: 3rem;
}

.cart-amount-buttons {
    display: flex;
    width: 60%;
    justify-content: center;

}

.cart-set-amount,
.cart-remove-item {
    width: 30px;
    height: 30px;
    font-size: 17px;
    margin: auto 5px;
    border: 1px solid black;
    background-color: rgb(252, 198, 209);
    text-decoration: none;
    cursor: pointer;
}

.cart-set-amount:hover,
.cart-remove-item:hover {
    opacity: 0.8;
}

.cart-summary {
    display: flex;
}

.cart-item-amount {
    margin: auto 30px;
    font-weight: bolder;
    font-size: 15px;
}

.cart-item-total {
    margin: auto;
    font-size: 15px;
    font-weight: bolder;
    width: 5rem;
}

.cart-remove-item {
    margin-left: 2%;
    margin-right: 20px;
}

.cart-container hr {
    border: 0.5px solid gray;
    margin-top: 10px;
}

.summary {
    display: flex;
    justify-content: flex-end;
    margin: 0.8rem 0.5rem; 
    font-size: 15px;
}

.total-products {
    font-size: 10px;
    font-weight: lighter;
}

.final-price {
    font-weight: bold;
}

.cart-option,
.no-items-return {
    margin: 5%;
    width: 150px;
    height: 30px;
    background-color: rgb(252, 198, 209);
    border: 1px solid black;
}

.cart-option:hover,
.no-items-return:hover {
    opacity: 0.8;
    cursor: pointer;
}

.cart-options {
    display: flex;
    justify-content: center;
}

.no-items-return{
    display: flex;
    margin: 25px auto auto auto;
    align-items: center;
    justify-content: center;
}

.no-items-cart {
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
}

@media screen and (max-width: 620px) {
    .cart-item-price {
        margin: auto 1px;
        font-size: 10px;
        width: 5rem;
    }

    .reduce-item {
        margin-left: 0;
    }

    .cart-item-total {
        font-size: 12px;
        margin: auto 0.5rem;
    }

    .cart-title {
        margin-top: 3.5rem;
    }

    .cart-item-amount {
        margin: auto 5px;
    }

    .cart-remove-item {
        margin-right: 0.1rem;
        margin-left: 0;
    }
}