.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: auto;
}

.modal-inner {
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 20%;
    border-radius: 10px;
    background: rgb(246, 241, 242);
}

.close {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.modal-header {
    margin: 0 auto -2% auto;
    width: 7rem;
}

.modal-subline {
    padding-top: 1%;
    margin: 0 auto -2% auto;
    width: 12rem;
    font-size: 14px;
    color:rgb(100, 100, 100)
}

.register-form {
    font-family: Poppins;
    display: flex;
    font-size: 10px;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    width: 80%;
    margin: auto;
    padding-top: 0;
    margin-top: 20px;
}

/* @media screen and (max-width: 580px) {
    .modal-inner {
        margin-top: 30%;
    }
    
    .modal-header {
        width: 6rem;
        font-size: 20px;
    }

    .modal-subline {
        display: none;
    }

    .close {
        margin-right: 15px;
        padding-top: 5px;
        font-size: 20px;
    }
} */
