.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: auto;
    overflow: hidden;
}

.register-modal-inner {
    margin: auto;
    margin-top: 20%;
    width: 70%;
    max-width: 550px;
    padding: 10px;
    height: auto;
    border-radius: 10px;
    background: rgb(246, 241, 242);
}

.register-close {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
}

.modal-header {
    text-align: center;
}

.modal-subline {
    padding-top: 1%;
    text-align: center;
    font-size: 14px;
    color:rgb(100, 100, 100)
}

.register-form {
    font-family: Poppins;
    display: flex;
    font-size: 10px;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    width: 80%;
    margin: auto;
    padding-top: 0;
    margin-top: 20px;
}

.submit-register {
    background-color:rgb(21, 22, 21);
    color: white;
    width: 100%;
    height: 30px;
    letter-spacing: 6px;
    margin-top: 15px;
    border: 1px solid gray;
}

.submit-register:hover {
    opacity: 0.8;
}

.register-success {
    opacity: 0.4;
    background-color: rgb(104, 209, 104);
    margin-top: 10px;
    color: darkgreen;
    font-size: 10px;
    text-align: center;
    width: 100%;
}

.register-error {
    opacity: 0.6;
    background-color: rgb(209, 104, 104);
    margin-top: 10px;
    margin-bottom: -10px;
    color: darkred;
    font-size: 10px;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 580px) {
    .register-modal-inner {
        margin-top: 40%
    }
    
    .modal-header {
        font-size: 20px;
        margin-left: 10px;
    }

    .modal-subline {
        display: none;
    }

    .register-close {
        margin-right: 15px;
        padding-top: 5px;
        font-size: 20px;
    }
}
