.checkout-title {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: gray;
    margin-top: 2rem;
}

.checkout-overview {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    font-weight: lighter;
    margin: auto;
    padding: 10px;
}

.checkout-register-option {
    font-weight: 500;
}

.checkout-register-option-login:hover,
.checkout-register-option-register:hover {
    cursor: pointer;
    opacity: 0.6;
}

.checkout-options {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.checkout-change-cart,
.checkout-return {
    margin: 10px;
    width: auto;
    padding: 15px 10px;
    background-color: rgb(252, 198, 209);
    border: 1px solid black;
}

.checkout-change-cart:hover,
.checkout-return:hover {
    opacity: 0.8;
    cursor: pointer;
}

.checkout-form {
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-size: 10px;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    width: 80%;
    margin: auto;
    padding-top: 0;
    margin-top: 20px;
}

.checkout-form label {
    margin-top: 5px;
}

.checkout-form select {
    padding: 5px;
    border: 1px solid lightgray;
}

.submit-checkout {
    background-color:rgb(21, 22, 21);
    color: white;
    width: 100%;
    height: 30px;
    letter-spacing: 6px;
    margin-top: 25px;
    border: 1px solid gray;
}

.submit-checkout:hover {
    opacity: 0.8;
}

.checkout-success {
    color: darkgreen;
    font-size: 12px;
    text-align: center;
}