.footer-copyright {
  display: flex;
  /* margin-top: 1rem; */
  padding: 0.7rem;
  background-color: rgb(246, 241, 242);
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-text {
  position: fixed;
  font-family: Poppins;
  font-size: 9px;
  color: rgb(22, 21, 21);
}

.footer-social {
  display: flex;
  justify-content: flex-start;
}

.footer-language {
  display: flex;
  justify-content: flex-end;
}

.social-icon {
  position: relative;
  cursor: pointer;
  margin-right: 200px;
  margin-bottom: 1px;
}

.language-icon {
  cursor: pointer;
  margin-bottom: 1px; 
  max-width: 19px;
  opacity: 0.9;
}

