.product-container {
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    background-color: rgb(248, 244, 245); 
    padding-bottom: 50px;
}

.products-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    flex-grow: flex;
    margin-top: 50px;
    /* flex-basis: -35%; */
    background-color: rgb(248, 244, 245);
}

@media screen and (min-width: 1200px) {
    .products-overview {
        width: 80%;
    }
}

@media screen and (min-width: 1550px) {
    .products-overview {
        width: 60%;
    }
}
